---
layout: default
---

<!-- Content -->
<div class="row">

  <!-- Left Column -->
  <section class="leftcolumn">
    {{ content }}
  </section>

  <!-- Right Column -->
  <section class="rightcolumn">
    <div class="card">
      <img src="{{ site.baseurl }}/public/img/about_michael_kent.jpg" alt="Michael Kent" />
      <p><span class="author">Michael Kent</span> is a passionate developer who loves to create things.</p>
    </div>

    <div class="card">
      <h3>Connect With Me</h3>
      <a class="social" href="https://www.linkedin.com/in/mbkent">
        <i class="fa fa-linkedin"></i>
      </a> &nbsp;|&nbsp;
      <a class="social" href="https://github.com/michaelkent94">
        <i class="fa fa-github"></i>
      </a> &nbsp;|&nbsp;
      <a class="social" href="mailto:michaelkent94@me.com">
        <i class="fa fa-envelope"></i>
      </a>
    </div>

    <div class="card">
      <div class="quote">
        "The programmer, like the poet, works only slightly removed from pure thought-stuff. He builds his castles in the air, from air, creating by exertion of the imagination."
        <div class="quote-attribution">Fred Brooks</div>
      </div>
    </div>
  </section>

</div>
